* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 210px;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  body {
    padding-top: 110px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 100px;
  }
}

@media (max-width: 420px) {
  body {
    padding-top: 85px;
  }
}